<div id="form_container">
	<h1><a>Amigo Invisible</a></h1>
	<form class="appnitro" id="formulario" name="formulario" method="post" >		
		<div class="form_description">
			<h2>Acceda a su perfil</h2>
			<p>Introduzca su nombre y contraseña</p>
		</div>
		<p ng-show="messages.length>0" class="error" ng-repeat="m in messages">{{m}}</p>
		<ul>
			<li><label class="description" for="login">Nombre</label>
				<input id="login" name="login" ng-model="loginData.name" class="element text medium" type="text" maxlength="255" value="" required/>
			</li>
			<li><label class="description" for="contrasenia">Contraseña</label>
				<input id="contrasenia" name="contrasenia" ng-model="loginData.passwd" class="element text medium" type="password" maxlength="255" value="" required/>
			</li>
			<li class="section_break"></li>				
			<li class="buttons">
				<button ng-click="login()"><img border="0" src="img/user_go.gif"/> Entrar</button><button  ng-click="go('/registro');" ><img border="0" src="img/user_add.gif"/> Registrarse</button>
			</li>
		</ul>
	</form>
	<div id="footer">
	</div>
</div>
