<div id="form_container">
	<h1><a>Amigo invisible</a></h1>
	<form class="appnitro" method="post" id="formulario" name="formulario">		
		<div class="form_description">
			<h2>Sorteo directo</h2>
			<p></p>
		</div>
		<ul>
			<li><label class="description" for="nombreSorteo">Nombre</label>
				<input id="nombreSorteo" name="nombreSorteo" ng-model="sorteo.nombre" class="element text medium" type="text" maxlength="255" value="" />
			</li>
			<li><label class="description" for="encabezadoSorteo">Introduccion</label>
			<textarea rows="5" cols="20" name="encabezadoSorteo" id="encabezadoSorteo" ng-model="sorteo.introduccion"  class="element textarea"></textarea>
			</li>
			<li><label class="description" for="nombreParticipante">Nuevo participante (nombre y correo)</label>
			<input id="nombreParticipante" ng-model="nuevoParticipante.nombre" name="nombreParticipante" class="element text small" type="text" maxlength="100" value="" />
			<input id="correoParticipante" name="correoParticipante" ng-model="nuevoParticipante.email" class="element text small" type="text" maxlength="100" value="" />
			<a ng-click="addParticipante()"><img border="0" src="img/user_add.gif"/></a>
			<a ng-click="delParticipante()"><img border="0" src="img/user_delete.png"/></a>
			</li>
			<li>
			<label class="description">Participantes</label>
			<select ng-model="participantesSeleccionados" class="large"  ng-change="participanteSelectionChanged()" multiple="multiple" size="5" ng-options="participante.email for participante in sorteo.participantes">				
			</select>									
			</li>
			<li class="section_break">
			</li>
			<li class="buttons">
				<button><img border="0" src="img/disk.gif"/>Sortear</button><button ng-click="go('/perfil')"><img border="0" src="img/book_prev.gif"/> Volver</button>
			</li>
		</ul>
	</form>
	<div id="footer">
	</div>
</div>